/.hbuilderx/
/node_modules/
**/node_modules/**
/unpackage/
/vue.config.js
/manifest.json
uni_modules/uni-open-bridge-common/uniCloud/cloudfunctions/common/uni-open-bridge-common/node_modules/uni-config-center/uni-id/config.json
manifest.json
uni_modules/uni-captcha/uniCloud/cloudfunctions/common/uni-captcha/node_modules/uni-config-center/uni-id/config.json
.DS_Store