.container {
  padding: 15px;
}

.title {
  font-size: 15px;
}

.input {
  margin-top: 5px;
  padding: 5px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.group {
  margin-top: 30px;
}

.secret-type {
  font-weight: bold;
}

.secret-type-comment {
  font-size: 14px;
  margin-top: 5px;
  opacity: .7;
}

button {
  margin-top: 10px;
}

.tips {
  font-size: 14px;
  margin-top: 30px;
  opacity: .8;
}

.tips-item {
  display: list-item;
  margin-left: 20px;
  margin-top: 5px;
}

